<h2>{{post.header}}</h2>
<div class="mb50 blog-post-cut">
  {{post.body}}
  <div class="read-more-div">
    {{#link-to 'posts.post' post.id class='btn btn-default'}}Read more{{/link-to}}
  </div>
</div>
